导航项 .nav-item-selected {
	background-color: #e9eef3;
	position: relative;
}
.nav-item-selected::before {
	position: absolute;
	display: block;
	content: '';
	background-color: #0067c0;
	width: 3px;
	left: 0;
	height: 1.2rem;
	border-radius: 15px;
	animation: nav-item-selected-before 0.5s;
}
@keyframes nav-item-selected-before {
	from {
		height: 0;
	}
	to {
		height: 1.2rem;
	}
}

.nav-item-hover:hover {
	background-color: #e9eef3;
}

/* a标签的默认样式 */
a {
	text-decoration: none;
}

/* 宽度变化过度动画 */
.width-translate {
	transition: width 0.5s;
}

.cursor-r-resize {
	position: relative;
	background-color: #174573;
	width: 48px;
	height: 16px;
}

.cursor-r-resize::after {
	position: absolute;
	content: '';
	display: block;
	top: 0;
	bottom: 0;
	right: 0;
	width: 48px;
	cursor: e-resize;
	resize: horizontal;
}

.resizer {
	position: absolute;
	right: 0;
	top: 8px;
	right: 0px;
	height: 2rem;
	width: 2px;
	background: rgba(234, 235, 240, 0.9);
	cursor: col-resize;
	user-select: none;
	touch-action: none;
}

.border-bottom {
	border-bottom: 1px solid rgb(214, 207, 207);
}

th {
	/* display: ; */
	text-align: start;
}

input[type='checkbox'] {
	top: 3px;
	width: 18px;
	height: 18px;
	position: relative;
	cursor: pointer;
}

input[type='checkbox']::before,
input[type='checkbox']::after {
	position: absolute;
	top: 0;
	width: 18px;
	height: 18px;
	visibility: visible;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	box-sizing: border-box;
}

input[type='checkbox']:checked::before {
	content: '✓';
	color: #fff;
	font-size: 18px;
	top: 0;
	font-weight: 900;
	background-color: #1976d2;
}

input[type='checkbox']:indeterminate::after {
	content: '一';
	color: #fff;
	font-size: 10px;
	font-weight: 900;
	top: 0;
	background-color: #1976d2;
}
