/* 导航项 */
.nav-item-selected {
	background-color: #e9eef3;
	position: relative;
}
.nav-item-selected::before {
	position: absolute;
	display: block;
	content: '';
	background-color: #0067c0;
	width: 3px;
	left: 0;
	height: 1.2rem;
	border-radius: 15px;
	animation: nav-item-selected-before 0.5s;
}
@keyframes nav-item-selected-before {
	from {
		height: 0;
	}
	to {
		height: 1.2rem;
	}
}

.nav-item-hover:hover {
	background-color: #e9eef3;
}

/* a标签的默认样式 */
a {
	text-decoration: none;
}

/* 宽度变化过度动画 */
.width-translate {
	transition: width 0.5s;
}

.cursor-r-resize {
	position: relative;
	background-color: #174573;
	width: 48px;
	height: 16px;
}

.cursor-r-resize::after {
	position: absolute;
	content: '';
	display: block;
	top: 0;
	bottom: 0;
	right: 0;
	width: 48px;
	cursor: e-resize;
	resize: horizontal;
}

.resizer {
	position: absolute;
	right: 0;
	top: 0;
	right: -1.5px;
	height: 100%;
	width: 3px;
	background: rgba(0, 0, 0, 0.1);
	cursor: col-resize;
	user-select: none;
	touch-action: none;
}

.border-bottom {
	border-bottom: 1px solid rgb(34, 34, 34);
}
